body{
    margin:0;
    padding:0;
    height:100vh;
    display: grid;
    justify-content: center;
    align-content: center;


}

.container{
    height: 100%;
    width: 70vw;;
    background-color:aquamarine;
    
} 
.name{
    display: flex;
    justify-content: space-around;
    
}
.email{
   margin-left: 11vw;
}

.general, .support{
    display: flex;
    justify-content: space-around;
}

.radios{
    display: flex;
    justify-content: space-around;
}

.errorQuery{
    margin-left: 11vw;
}

.query>p.error, p.top{
        margin-left: 11vw;
        margin-top: 2vh;
}


.message{
    margin-left: 11vw;
}


.checkContainer{
    display: flex;
   
    margin-left: 11vw;
}

 

#submit{
    width: 80%;
    height:40px;
    margin-left: 11vw;
    margin-bottom: 5vh;
}
.check>p.error{
    margin-left: 11vw;
}

.error{
    display: none;
}
